{% extends "base.html.twig" %}
{% block body %}
	<main>
    <h1>Contact</h1>
		{{form_start(formulaire_contact)}}
		{{form_rest(formulaire_contact)}}
        <input type="submit" name="Envoie" >
		{{form_end(formulaire_contact)}}

	</main>
{% endblock %}
